.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 450px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #e2e2e2;
  background: #f2f4f8;
  gap: 20px;

  @media (max-width: 576px) {
    max-width: 350px;
  }

  @media (max-width: 420px) {
    max-width: unset;
    width: 90%;
  }
}
.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
